.success_container{
    height: "100vh";
    display: flex;
    flex-direction: "column";
    align-items: center;
    justify-content: center;
}
.success_container_box{
    height:300px;
    width:400px;
    border-radius: 10px;
	transform: translateY(50%);
	 box-shadow: 0 4px 8px rgb(0 0 0 / 25%); 
}
.success_container_box1{
    height:200px;
    background: #D2DE32;
    align-items: center;
    justify-content: center;
    display: flex;
   
}
.success_container_box2{
    align-items: center;
    justify-content: center;
}
.success_button{
    background-color: #D2DE32;
    padding:5px;
    border-radius: 10px solid #D2DE32;
    color:black;
    border-radius: 10px;
	 box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
}